/* styles.css */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column; /* Make body a flex container with column direction */
  min-height: 100vh; /* Ensure full viewport height */
  background-color: #222;
  align-items: center; /* Center horizontally */
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
}

.card {
  background: #ebfffc;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 470px;
  /* margin: 100px auto 0;  Remove this margin */
  /* margin-bottom: 20px; Remove this margin */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow the content wrapper to grow and take up available space */
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.Humidity,
.Wind {
  font-size: 28px;
  margin-top: -6px;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

footer {
  text-align: center;
  padding: 10px 0;
  color: #fff;
  background-color: #333;
  font-size: 0.9em;
  width: 100%; /* Make footer full width */
}

.weather {
  display: none; /* Hide the weather information by default */
}

.card.show-weather .weather {
  display: block; /* Show the weather information when the 'show-weather' class is added to the card */
}

.card.show-weather .search{
  margin-bottom: 30px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .card {
    padding: 20px 15px;
    margin: 30px auto;
  }

  .weather h1 {
    font-size: 50px;
  }

  .weather h2 {
    font-size: 30px;
  }

  .details {
    padding: 0 5px;
    margin-top: 20px;
  }

  .humidity,
  .wind {
    font-size: 22px;
  }
}
